.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.88);
  padding: 0;
  box-shadow: 0 2px 4px rgba(240, 244, 248, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #ddd;;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #14191E;
}

.logo a span::before {
  margin-top: 6px;
  margin-right: 10px;
  content: "";
  display: inline-block;
  width: 2px;
  height: 20px;
  background: #14191E;
}

.logo a img {
  max-width: 100%;
  width: 150px;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-menu a:hover {
  color: #fbbf24;
}

@media (max-width: 480px) {
  .header-content {
    flex-direction: column;
  }

  .nav-menu {
    flex-direction: column;
    margin-top: 1rem;
  }
}
